.product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  list-style: none;
  gap: 32px;
}

.card {
  display: flex;
  width: 178px;
  height: 100%;
  gap: 16px;
  border: 1px solid red;
}

.card__image__wrapper {
  text-decoration: none;
}

.card__image__wrapper img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 17px;
  gap: 8px;
  margin-top: 16px;
  color: var(--text-dark-200);
}

.card__footer span {
  font-family: "Silka Medium", sans-serif;
}

.card__price {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 20px;
}

.card__compare__price {
  text-decoration: line-through;
  color: var(--text-dark-100);
}

@media only screen and (min-width: 1280px) {
  .card {
    width: 220px;
  }

  .card__footer {
    font-size: 20px;
  }
}
